html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main, section.formas-pago {
  flex: 1;
}
body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}
.nav{
    background-color: #B87C4C;
    font-family: "Montserrat";
    font-weight: 500;
}
.uli{
  width: 100%;
}
.logo{
    width: 190px;
    height: 50px;
}
.formas-pago {
  padding: 3rem 1rem;
}

.formas-pago h2 {
  font-weight: bold;
  margin-bottom: 3rem;
}
.icono {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.flecha {
  transition: transform 0.3s ease;
  font-size: 1.3rem;
  color: #333;
}

.pago-item[aria-expanded="true"] .flecha {
  transform: rotate(180deg);
}

.pago-item {
     font-weight: bold;
  background-color: #e0e0e0;
  border-radius: 30px;
  padding: 15px 25px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.pago-item:hover {
  background-color: #d6d6d6;
}
.collapse-text {
  background-color: #f5f5f5;
  border-left: 4px solid #CBB697;
  border-radius: 10px;
  padding: 15px 20px;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.pago-seguridad {
  background-color: #d3d3d3;
  border-radius: 25px;
  padding: 20px 25px;
  font-weight: 600;
}
.texto-seguridad {
  background-color: #efefef;
  border-radius: 15px;
  padding: 15px 25px;
  margin: 10px 0 20px 0;
  font-size: 0.95rem;
}

.footer {
  background-color: #B87C4C;
  font-family: "Roboto";
  padding: 20px;
  margin-top: auto; 
}
.footer-logo {
  width: 150px;
}
.social-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #555;
  color: white;
  font-size: 20px;
}
.red-link .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #5a5a5a;
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
}
.red-link .social-icon i {
  line-height: 1;
}
.red-link img{
    width:35px;
    height:35px;
}

@media (max-width: 768px) {
  .faq-section {
    padding: 40px 10px;
  }

  .footer iframe {
    width: 100%;
    height: 150px;
  }
}
